In [48]:
import pandas as pd
import numpy as np

In [2]:
movies_metadata = pd.read_csv("movies_nonnull.csv")
movies_metadata.head()

,Unnamed: 0,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,1995-10-30 00:00:00.000000000,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Unknown,Toy Story,False,7.7,5415.0
1,1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,1995-12-15 00:00:00.000000000,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,1995-12-22 00:00:00.000000000,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,...,1995-12-22 00:00:00.000000000,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",...,1995-02-10 00:00:00.000000000,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
movies_metadata.columns

Index(['Unnamed: 0', 'adult', 'budget', 'genres', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
movies_metadata.drop(columns=['adult','belongs_to_collection'], inplace=True)

KeyError: "['belongs_to_collection'] not found in axis"

In [ ]:
(movies_metadata['budget'] == '0').sum()

In [ ]:
def how_many_not_int(x):
    try:
        return int(x)
    except:
        return np.nan
    
movies_metadata['budget'] = movies_metadata['budget'].apply(how_many_not_int)
movies_metadata['budget'].isna().value_counts()
movies_metadata['budget'].fillna(0)

In [ ]:
movies_metadata['budget'] = movies_metadata['budget'].replace(0.0, movies_metadata['budget'].median())

In [ ]:
movies_metadata['budget']

In [ ]:
movies_metadata['genres']

In [43]:
import ast
# movies_metadata['content'] = pd.Series([[]]*len(movies_metadata))
# print(movies_metadata['content'])
def extract_from_genre(x):
        t = []
        for j in ast.literal_eval(x):
            try:
                t.append(j['name'])
            except:
                pass
        return t
movies_metadata['content'] = movies_metadata['genres'].apply(extract_from_genre)
movies_metadata['content']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45455                 [Drama, Family]
45456                         [Drama]
45457       [Action, Drama, Thriller]
45458                              []
45459                              []
Name: content, Length: 45460, dtype: object

In [44]:
movies_metadata.drop(columns=['homepage','id','imdb_id'], inplace=True)

KeyError: "['homepage', 'id', 'imdb_id'] not found in axis"

In [45]:
movies_metadata['original_language']

0        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                               ...
45455    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
45456    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
45457    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
45458    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
45459    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: original_language, Length: 45460, dtype: object

In [46]:
def clean_lang(x):
    
    try:
        float(x)
        return 'Unknown'
    except:
        return x

movies_metadata['original_language'] = movies_metadata['original_language'].apply(clean_lang)

In [47]:
movies_metadata['original_language'].unique()

TypeError: unhashable type: 'list'

In [9]:
from sklearn.preprocessing import OneHotEncoder
# example of a one hot encoding
from numpy import asarray
encoder = OneHotEncoder(sparse=False)
d = asarray(movies_metadata['original_language']).reshape(-1,1)
encoder = OneHotEncoder(sparse=False)
# transform data
onehot = encoder.fit_transform(d)

D:\Ultimate USA\Data Science\Data analytics\Movie recommendation system\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [10]:
movies_metadata['original_language'] = pd.Series(onehot.tolist())

In [11]:
movies_metadata['original_title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45455                        رگ خواب
45456            Siglo ng Pagluluwal
45457                       Betrayal
45458            Satana likuyushchiy
45459                       Queerama
Name: original_title, Length: 45460, dtype: object

In [12]:
movies_metadata['overview']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45455          Rising and falling between a man and woman.
45456    An artist struggles to finish his work while a...
45457    When one of her hits goes wrong, a professiona...
45458    In a small town live two brothers, one a minis...
45459    50 years after decriminalisation of homosexual...
Name: overview, Length: 45460, dtype: object

In [13]:
movies_metadata['popularity']

0        21.946943
1        17.015539
2        11.712900
3         3.859495
4         8.387519
           ...
45455     0.072051
45456     0.178241
45457     0.903007
45458     0.003503
45459     0.163015
Name: popularity, Length: 45460, dtype: float64

In [14]:
movies_metadata.drop(columns=['poster_path'], inplace=True)

KeyError: "['poster_path'] not found in axis"

In [ ]:
movies_metadata.drop(columns=['genres'], inplace=True)

In [ ]:
movies_metadata['production_companies']

In [ ]:
def extract_from_prod_company(x):
    t = []
    try:
        for j in ast.literal_eval(x):
            t.append(j['name'])
    except:
        pass
    return t
movies_metadata['production_companies'] = movies_metadata['production_companies'].apply(extract_from_prod_company)
movies_metadata['production_companies']

In [ ]:
movies_metadata = movies_metadata[~movies_metadata['production_companies'].isna()]

In [ ]:
def extract_from_prod_country(x):
    t = []
    try:
        for j in ast.literal_eval(x):
            t.append(j['name'])
    except:
        pass
    return t
movies_metadata['production_countries'] = movies_metadata['production_countries'].apply(extract_from_prod_country)
movies_metadata['production_countries']

In [ ]:

def convert_to_datetime(x):
    try:
        return pd.to_datetime(x)
    except:
        return np.nan
movies_metadata['release_date'] = movies_metadata['release_date'].apply(convert_to_datetime)
movies_metadata['release_date'].fillna(movies_metadata['release_date'].mean(), inplace=True)

In [ ]:
(movies_metadata['revenue'] == 0.0).sum()

In [ ]:
movies_metadata.drop(columns=['revenue'], inplace=True)

In [ ]:
movies_metadata.describe()

In [15]:
(movies_metadata['runtime'] > 0.0).sum()

43902

In [16]:
movies_metadata['spoken_languages']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45455               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45456                    [{'iso_639_1': 'tl', 'name': ''}]
45457             [{'iso_639_1': 'en', 'name': 'English'}]
45458                                                   []
45459             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45460, dtype: object

In [17]:
def extract_from_prod_spoken_lan(x):
    t = []
    try:
        for j in ast.literal_eval(x):
            t.append(j['name'])
    except:
        pass
    return t
movies_metadata['spoken_languages'] = movies_metadata['spoken_languages'].apply(extract_from_prod_spoken_lan)
movies_metadata['spoken_languages']

0        []
1        []
2        []
3        []
4        []
         ..
45455    []
45456    []
45457    []
45458    []
45459    []
Name: spoken_languages, Length: 45460, dtype: object

In [42]:
def extract_from_genre(x):
    t = []
    try:
        for j in ast.literal_eval(x):
            t.append(j['name'])
    except:
        pass
    return t
movies_metadata['content'] = movies_metadata['genres'].apply(extract_from_genre)
movies_metadata['content']

0        []
1        []
2        []
3        []
4        []
         ..
45455    []
45456    []
45457    []
45458    []
45459    []
Name: content, Length: 45460, dtype: object

In [18]:
movies_metadata['status'].unique()

array(['Released', 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [19]:
movies_metadata['status'].fillna('Released', inplace=True)

In [20]:
movies_metadata['tagline']

0                                                  Unknown
1                Roll the dice and unleash the excitement!
2        Still Yelling. Still Fighting. Still Ready for...
3        Friends are the people who let you be yourself...
4        Just When His World Is Back To Normal... He's ...
                               ...
45455           Rising and falling between a man and woman
45456                                              Unknown
45457                               A deadly game of wits.
45458                                              Unknown
45459                                              Unknown
Name: tagline, Length: 45460, dtype: object

In [21]:
movies_metadata['tagline'].fillna('Unknown', inplace=True)

In [22]:
movies_metadata['title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45455                         Subdue
45456            Century of Birthing
45457                       Betrayal
45458               Satan Triumphant
45459                       Queerama
Name: title, Length: 45460, dtype: object

In [23]:
movies_metadata.drop(columns=['original_title'], inplace=True)

In [24]:
movies_metadata.drop(columns=['video'], inplace=True)

In [25]:
(movies_metadata['vote_average'] == 0.0).sum()

2998

In [26]:
(movies_metadata['vote_count'] == 0.0).sum()

2899

In [27]:
movies_metadata

,Unnamed: 0,adult,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30 00:00:00.000000000,373554033.0,81.0,[],Released,Unknown,Toy Story,7.7,5415.0
1,1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15 00:00:00.000000000,262797249.0,104.0,[],Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22 00:00:00.000000000,0.0,101.0,[],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22 00:00:00.000000000,81452156.0,127.0,[],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10 00:00:00.000000000,76578911.0,106.0,[],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45455,45461,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",1992-05-15 17:10:50.564174976,0.0,90.0,[],Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45456,45462,False,0,"[{'id': 18, 'name': 'Drama'}]",111109,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17 00:00:00.000000000,0.0,360.0,[],Released,Unknown,Century of Birthing,9.0,3.0
45457,45463,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01 00:00:00.000000000,0.0,90.0,[],Released,A deadly game of wits.,Betrayal,3.8,6.0
45458,45464,False,0,[],227506,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21 00:00:00.000000000,0.0,87.0,[],Released,Unknown,Satan Triumphant,0.0,0.0
45459,45465,False,0,[],461257,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09 00:00:00.000000000,0.0,75.0,[],Released,Unknown,Queerama,0.0,0.0

In [28]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45460 entries, 0 to 45459
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            45460 non-null  int64
 1   adult                 45460 non-null  bool
 2   budget                45460 non-null  int64
 3   genres                45460 non-null  object
 4   id                    45460 non-null  int64
 5   original_language     45460 non-null  object
 6   overview              45460 non-null  object
 7   popularity            45460 non-null  float64
 8   production_companies  45460 non-null  object
 9   production_countries  45460 non-null  object
 10  release_date          45460 non-null  object
 11  revenue               45460 non-null  float64
 12  runtime               45460 non-null  float64
 13  spoken_languages      45460 non-null  object
 14  status                45460 non-null  object
 15  tagline               45460 non-null  object
 16  title                 45460 non-null  object
 17  vote_average          45460 non-null  float64
 18  vote_count            45460 non-null  float64
dtypes: bool(1), float64(5), int64(3), object(10)
memory usage: 6.3+ MB

In [29]:
movies_metadata.drop(columns=['Unnamed: 0','adult','id'], inplace=True)

In [30]:
movies_metadata

,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30 00:00:00.000000000,373554033.0,81.0,[],Released,Unknown,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15 00:00:00.000000000,262797249.0,104.0,[],Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22 00:00:00.000000000,0.0,101.0,[],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22 00:00:00.000000000,81452156.0,127.0,[],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,0,"[{'id': 35, 'name': 'Comedy'}]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10 00:00:00.000000000,76578911.0,106.0,[],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45455,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",1992-05-15 17:10:50.564174976,0.0,90.0,[],Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45456,0,"[{'id': 18, 'name': 'Drama'}]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17 00:00:00.000000000,0.0,360.0,[],Released,Unknown,Century of Birthing,9.0,3.0
45457,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01 00:00:00.000000000,0.0,90.0,[],Released,A deadly game of wits.,Betrayal,3.8,6.0
45458,0,[],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21 00:00:00.000000000,0.0,87.0,[],Released,Unknown,Satan Triumphant,0.0,0.0
45459,0,[],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09 00:00:00.000000000,0.0,75.0,[],Released,Unknown,Queerama,0.0,0.0

In [31]:
def combine_text():
    final = []
    
    for m,n,h in zip(movies_metadata['overview'].values,movies_metadata['tagline'].values,movies_metadata['content'].values):
        t = []
        for k in m.split(','):
            for i in k.split(' '):
                t.append(i)
        for k in n.split(' '):
            t.append(k)
        final.append(t)
        # final.extend(h)
    return final
        
movies_metadata['content_1'] = pd.Series(combine_text())

KeyError: 'content'

In [32]:
movies_metadata['content_1']

KeyError: 'content_1'

In [33]:
movies_metadata.rename(columns={'content':'genres'}, inplace=True)

In [34]:
movies_metadata.drop(columns=['tagline', 'overview'], inplace=True)

In [35]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45460 entries, 0 to 45459
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45460 non-null  int64
 1   genres                45460 non-null  object
 2   original_language     45460 non-null  object
 3   popularity            45460 non-null  float64
 4   production_companies  45460 non-null  object
 5   production_countries  45460 non-null  object
 6   release_date          45460 non-null  object
 7   revenue               45460 non-null  float64
 8   runtime               45460 non-null  float64
 9   spoken_languages      45460 non-null  object
 10  status                45460 non-null  object
 11  title                 45460 non-null  object
 12  vote_average          45460 non-null  float64
 13  vote_count            45460 non-null  float64
dtypes: float64(5), int64(1), object(8)
memory usage: 4.9+ MB

In [36]:
movies_metadata.drop(columns=['spoken_languages'], inplace=True)

In [37]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45460 entries, 0 to 45459
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45460 non-null  int64
 1   genres                45460 non-null  object
 2   original_language     45460 non-null  object
 3   popularity            45460 non-null  float64
 4   production_companies  45460 non-null  object
 5   production_countries  45460 non-null  object
 6   release_date          45460 non-null  object
 7   revenue               45460 non-null  float64
 8   runtime               45460 non-null  float64
 9   status                45460 non-null  object
 10  title                 45460 non-null  object
 11  vote_average          45460 non-null  float64
 12  vote_count            45460 non-null  float64
dtypes: float64(5), int64(1), object(7)
memory usage: 4.5+ MB

In [38]:
movies_metadata['keywords'] = movies_metadata['production_companies'] + movies_metadata['production_countries']+movies_metadata['genres']+movies_metadata['content_1']

KeyError: 'content_1'

In [39]:
movies_metadata['keywords']=movies_metadata['keywords'].replace({"[^A-Za-z0-9]+": " "},regex=True)

KeyError: 'keywords'

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

def format_eng_data():
    final = []
    for i in movies_metadata['keywords'].values:
        string = ""
        for j in i:
            if j != '':
                string += j
        final.append(string)
    return final

movies_metadata['keywords'] = pd.Series(format_eng_data())
vectorizer=TfidfVectorizer(analyzer='word',stop_words='english')
X=vectorizer.fit_transform(movies_metadata['keywords'])

KeyError: 'keywords'

In [41]:
import scipy
tfidf_df=pd.DataFrame.sparse.from_spmatrix(X)
tfidf_df = tfidf_df.iloc[:9000,:]
movies_metadata = movies_metadata.iloc[:9000,:]
movies_df=movies_metadata.join(tfidf_df)

NameError: name 'X' is not defined

In [ ]:
dftomat=scipy.sparse.csr_matrix(movies_df.values)

In [52]:
movies_metadata.drop(columns=['production_companies','production_countries','genres','content_1', 'keywords'], inplace=True)

In [53]:
movies_metadata.drop(columns=['title'], inplace=True)

In [54]:
movies_metadata['status'].unique()

array(['Released', 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [ ]:
movies_metadata = movies_metadata.join(pd.get_dummies(movies_metadata['status']))

In [ ]:
movies_metadata.drop(columns=['status'], inplace=True)

In [ ]:
movies_metadata = movies_metadata.join(pd.DataFrame.sparse.from_spmatrix(X))

In [ ]:
movies_metadata

In [ ]:
movies_metadata.info()

In [ ]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=6,init='k-means++',max_iter=500).fit(movies_metadata)